In [1]:
import pandas as pd
import numpy as np
from surprise import Reader, Dataset,SVD
from surprise.model_selection import cross_validate
from surprise import KNNBasic
import math
import random

In [2]:
df = pd.read_csv("Data\sp500_companies.csv")

df

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,423.08,3144461582336,1.251820e+11,0.170,Redmond,WA,United States,221000.0,Microsoft Corporation develops and supports so...,0.063479
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,189.72,2909185507328,1.296290e+11,-0.043,Cupertino,CA,United States,150000.0,"Apple Inc. designs, manufactures, and markets ...",0.058729
2,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,946.30,2365749985280,3.448000e+10,2.653,Santa Clara,CA,United States,29600.0,NVIDIA Corporation provides graphics and compu...,0.047758
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,172.51,2126875721728,1.097230e+11,0.154,Mountain View,CA,United States,180895.0,Alphabet Inc. offers various products and plat...,0.042936
4,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,173.88,2123944296448,1.097230e+11,0.154,Mountain View,CA,United States,180895.0,Alphabet Inc. offers various products and plat...,0.042877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,NMS,ETSY,"Etsy, Inc.","Etsy, Inc.",Consumer Cyclical,Internet Retail,64.57,7550363648,4.262970e+08,0.008,Brooklyn,NY,United States,2420.0,"Etsy, Inc., together with its subsidiaries, op...",0.000152
499,NYQ,RHI,Robert Half Inc.,Robert Half Inc.,Industrials,Staffing & Employment Services,71.16,7474362368,4.228020e+08,-0.140,Menlo Park,CA,United States,15000.0,Robert Half Inc. provides talent solutions and...,0.000151
500,NYQ,IVZ,Invesco Ltd,Invesco Ltd.,Financial Services,Asset Management,16.31,7336743424,9.988000e+08,0.040,Atlanta,GA,United States,8527.0,Invesco Ltd. is a publicly owned investment ma...,0.000148
501,NYQ,CMA,Comerica Incorporated,Comerica Incorporated,Financial Services,Banks - Regional,55.18,7316150784,NaN,-0.198,Dallas,TX,United States,7619.0,"Comerica Incorporated, through its subsidiarie...",0.000148
502,NYQ,NCLH,Norwegian Cruise Line Holdings,Norwegian Cruise Line Holdings Ltd.,Consumer Cyclical,Travel Services,15.72,6839504896,2.055861e+09,0.203,Miami,FL,United States,41000.0,"Norwegian Cruise Line Holdings Ltd., together ...",0.000138

In [3]:

details_arr = []

for i  in range(0,100):
    customer_id = i
    num_shares = random.randint(20,30)
    random_num_list = random.sample(range(0,502),num_shares)
    for j in range(0,num_shares):
        index = random_num_list[j]
        amount = random.randint(500,5000)
        details_arr.append([customer_id,df["Symbol"][index],amount])
    

details_df = pd.DataFrame(details_arr, columns=["Customer_Id","Company_Ticker","Amount"])


details_df.head(50)

    Customer_Id Company_Ticker  Amount
0             0             DE     672
1             0            ALB    4469
2             0            ADI    1935
3             0           TTWO    3536
4             0            CEG     538
5             0           MKTX    2307
6             0            SYF    2086
7             0            CAH    3568
8             0             BX    1734
9             0           CBOE    2744
10            0           CPRT    4081
11            0             CI    4233
12            0            WEC    3208
13            0            CAT    2987
14            0            VMC    1270
15            0            PPG    2867
16            0           ORCL    2335
17            0             IR    3795
18            0           ALLE    1571
19            0           MSCI    4296
20            0            GPC     840
21            0            STT    1919
22            0           ISRG    3140
23            0           CPAY    3248
24            0            FDX    4971
25            0            BWA    4298
26            1            DLR     629
27            1           LRCX     631
28            1           DXCM    1321
29            1              A    1681
30            1           TSCO    3484
31            1            CCL    4492
32            1             GD    3055
33            1            OKE    3158
34            1           GRMN    1450
35            1           AMGN    4778
36            1            MCO    3327
37            1            NEM    2908
38            1            STE    2381
39            1            MLM    4228
40            1           CINF    3065
41            1           MTCH     763
42            1           JBHT    1118
43            1            CPT    2233
44            1            HRL     668
45            1            LKQ    1286
46            1            NEE    1467
47            1           APTV     842
48            1           INTC    3973
49            1           CHRW     800

In [4]:
details_df.to_csv('Data_Customer_Portfolio.csv', index=False)

In [5]:
df_customer0 = details_df[(details_df["Customer_Id"] == 0)]

df_customer0

    Customer_Id Company_Ticker  Amount
0             0             DE     672
1             0            ALB    4469
2             0            ADI    1935
3             0           TTWO    3536
4             0            CEG     538
5             0           MKTX    2307
6             0            SYF    2086
7             0            CAH    3568
8             0             BX    1734
9             0           CBOE    2744
10            0           CPRT    4081
11            0             CI    4233
12            0            WEC    3208
13            0            CAT    2987
14            0            VMC    1270
15            0            PPG    2867
16            0           ORCL    2335
17            0             IR    3795
18            0           ALLE    1571
19            0           MSCI    4296
20            0            GPC     840
21            0            STT    1919
22            0           ISRG    3140
23            0           CPAY    3248
24            0            FDX    4971
25            0            BWA    4298